<h1>Welcome в нашу кофейню!!</h1>

<div class="row">
	
	<% @products.each do |p| %>
		<div class="col-md-3">
		  <div>
		    <%= p.title %>
		  </div>
		  <div>
		    <img src="<%= p.path_to_image %>" %>
		  </div>
		  <div>
		    <%= p.description %>
		  </div> 
		  <div>
		    <%= p.price %>
		  </div> 
			
		</div>
	<% end %>
</div>

</br>

<button class="btn btn-success btn-lg" onclick="something()">Нажми меня!</button>
